In [9]:
import pandas as pd

In [10]:
insurance_claim=pd.read_csv('dataset/data/Insurance_Claims.csv')
polidrivingrecord=pd.read_csv('dataset/data/Polidriving_labeled.csv')
car_insurance_simulated=pd.read_csv('dataset/data/car_insurance_simulated_data.csv')

In [14]:
(insurance_claim['policy_annual_premium']/12).describe()

count    1000.000000
mean      104.700513
std        20.347283
min        36.110833
25%        90.800625
50%       104.766667
75%       117.974583
max       170.632500
Name: policy_annual_premium, dtype: float64

In [7]:
polidrivingrecord['risk_level'].describe()

count    23152.000000
mean         1.624654
std          0.793048
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          4.000000
Name: risk_level, dtype: float64

In [12]:
car_insurance_simulated['Price'].describe()

count      1000.00000
mean      57499.11000
std       23704.03156
min       20000.00000
25%       39900.00000
50%       52000.00000
75%       70000.00000
max      120000.00000
Name: Price, dtype: float64

In [20]:
import numpy as np

def calculate_premium(row):
    if row['risk_level'] == 1:
        return row['Price'] * 0.00070+80
    elif row['risk_level'] == 2:
        return row['Price'] * 0.00075+80
    elif row['risk_level'] == 3:
        return row['Price'] * 0.00080+80
    elif row['risk_level'] == 4:
        return row['Price'] * 0.00085+80
    else:
        return 0

np.random.seed(42)  # For reproducibility
df=pd.DataFrame(index=range(100))
df['risk_level'] = np.random.randint(1, 5, size=len(df))
df['Price'] = np.random.randint(20000, 100000, size=len(df))
df['premium'] = df.apply(calculate_premium, axis=1)

In [21]:
df

    risk_level  Price    premium
0            3  65758  132.60640
1            4  92409  158.54765
2            1  91211  143.84770
3            3  85697  148.55760
4            3  57065  125.65200
..         ...    ...        ...
95           2  25530   99.14750
96           2  23748   97.81100
97           4  33545  108.51325
98           2  86199  144.64925
99           1  54766  118.33620

[100 rows x 3 columns]